body {
    background-color: black;
    text-align: center;
}

header, footer {
    color: white;
}

#container {
    margin-bottom: 2em;
}

.calculator {
    background-color: darkblue;
    padding: 10px;
    width: 300px;
    margin: auto;
    border-radius: 4px;
}

#display {
    display: flex;
    width: 280px;
    height: 50px;    
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: end;
    padding: 8px;
    font-size: 48px;
    background-color: beige;
}

button {
    width: 64px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button.digit {
    background-color: red;
    color: white;
}

button.operand, #clear {
    background-color: white;
    color: darkblue;
}